<mgl-map [style]="style" [zoom]="zoom" [center]="center" [movingOptions]="{animate: false}" [attributionControl]="false"
    logoPosition="top-left">
    <mgl-marker *ngFor="let item of issues; index as i" anchor="center" [lngLat]="item.location.coord">
        <app-issue-marker [issue]="item" (mouseenter)="hoverMarkerIn(i)" (mouseleave)="hoverMarkerOut(i)">
        </app-issue-marker>
    </mgl-marker>
    <mgl-popup *ngFor="let item of issuesWithPopup" [lngLat]="item.location.coord" [offset]="24">
        <span nz-typography><strong>{{ item.title }}</strong></span><br />
        <nz-tag [nzColor]="getIssueStatusColor(item.status)">
            {{ getIssueStatusString(item.status) }}
        </nz-tag>
    </mgl-popup>
</mgl-map>
<nz-input-group id="search-box" nzSize="large" nzSearch [nzAddOnAfter]="suffixIconButton">
    <input type="text" nz-input placeholder="Search location" (keydown.enter)="search()" [(ngModel)]="searchQuery" />
</nz-input-group>
<ng-template #suffixIconButton>
    <button nz-button nzSize="large" nzType="primary" nzSearch (click)="search()">
        <i nz-icon nzType="search"></i>
    </button>
</ng-template>
<button nz-button id="current-location-button" (click)="toCurrentLocation()" nzSize="large" nzShape="circle"
    nzType="primary">
    <i nz-icon nzType="aim" nzTheme="outline"></i>
</button>
<div id='map-attribution'>
    <a href="http://mapbox.com/about/maps" class='mapbox-wordmark' target="_blank">Mapbox</a>
    <div class="mapbox-attribution-container">
        <a href="https://www.mapbox.com/about/maps/">© Mapbox | </a>
        <a href="http://www.openstreetmap.org/copyright">© OpenStreetMap | </a>
        <a href="https://www.mapbox.com/map-feedback/" target="_blank"><strong>Improve this map</strong></a>
    </div>
</div>