#router-outlet {
  background-color: rgb(240, 242, 245);
}

#navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar-item {
  text-align: center;
}

@media (max-width: 767px) {
  .navbar-item-title {
    display: none;
  }
}
