mgl-map {
  height: 300px;
  margin-bottom: 8px;
}

.issue-image {
  height: 300px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.timeline-image {
  width: 100%;
  max-width: 300px;
}

.report-description {
  margin-bottom: 8px;
}

.report-image {
  margin-top: 2px;
  margin-bottom: 2px;
}
