.issue-image {
  display: block;
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.timeline-image {
  width: 100%;
  max-width: 300px;
}

.report-description {
  margin-bottom: 8px;
}

.report-image {
  margin-top: 2px;
  margin-bottom: 2px;
}
